node_modules
dist
bower_components
.tmp
C:\\nppdf32Log\\debuglog.txt
!client/external/paper-date-picker/*
!client/external/paper-time-picker/*
client/external
x.js
.idea/
**/*.log
*.log
primes.js
client/build.html
tmp_*.js
*.*~
*.out
chena.js
javaapi
