node_modules
dist
bower_components
.tmp
C:\\nppdf32Log\\debuglog.txt

client/external
!/client/external/paper-date-picker/*
!/client/external/paper-time-picker/*

x.js
.idea/
**/*.log
*.log
primes.js
client/build.html
tmp_*.js
*.*~
*.out
chena.js
javaapi

client/es6-1.html
clien/test-neon-element.html
clien/test-neon.html

socketex.js

