<script src="../../config/general.js"></script>
<dom-module  id="multi-value-suggestbox">
        <style type="text/css" media="screen">
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            ul#item_list {
                display: block;
                border-bottom: 2px solid rgb(63,81,181);
                padding-left: 10px;
                margin: 20px 5px;
            }
            ul#item_list > li {
                display: inline-block;
                position: relative;
                vertical-align: middle;
            }
            ul#item_list > li:not(#item_entry) {
                border: 1px solid #ccd5e4;
                border-radius:16px;
                background-color:rgb(224,224,224);
                font-size: 14px;
                color: rgb(66,66,66);;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: default;
                    height: 24px;
                    line-height: 24px;
                    margin: 5px;
                    padding: 0px 10px 0px 6px
            }
            ul#item_list > li > a {
              
                font-size: 14px;
                font-weight: bold;
                color: #000;
                text-decoration: none;
                line-height: 8px;
                margin-left: 12px;
                width: 10px;
                cursor: pointer;
            }
            ul#item_list > li > a::after {
                content: 'X';
            }
            #item_entry {
                position: relative;
            }
           
            #item_entry > div {
                display: inline;
                padding: 0px;
                box-sizing: border-box;
            }
            #item_entry > div > span {
                min-width: 60px;
                display: inline-block;
                font-size: 14px;
                vertical-align: middle;
            }

            #item_entry > div > span:focus {
                outline-style: none;
            }
            ul#suggest_menu {
                display: block;
                position: absolute;
                left: 4px;
                -webkit-box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    0px 4px 6px 0px rgba(50, 50, 50, 0.75);
                box-shadow:  box-shadow: 12px 0 20px -4px #ccc, -12px 0 15px -4px #ccc;
                background-color: #ffffff;
                min-width: 200px;
                z-index: 11;
            }
            ul#suggest_menu li {
                min-width: 100%;
                padding: 7px 10px;
                box-sizing: border-box;
                font-size: 14px;
                cursor: pointer;
                border-bottom: 1px solid #d4d4d4
            }
            ul#suggest_menu li.active {
                background-color: #7bae4d;
                color:#fff;
            }
        </style>
    <template>
        <ul id="item_list"  style="width: {{options.box_width}};" on-tap="elementTapped">
            <template id="items"  is="dom-repeat" items="{{selectedItems}}">
                <li style="max-width: calc( {{options.box_width}} - 25px);">
                    <span id="{{item.id}}">{{item.name}}</span>
                    <a on-tap="removeTapped"></a>
                </li>
            </template>
            <li id="item_entry">
                <div style="line-height: {{options.box_height}};">
                    <span id="item_input"
                        style="max-width: calc( {{options.box_width}} - 5px);"
                        contenteditable="true"
                        on-keydown="keydownHandler"
                        on-keyup="keyupHandler">
                    </span>
                </div>
                    <ul id="suggest_menu">
                        <template is="dom-repeat" items="{{suggestedItems}}">
                            <li on-tap="suggestionTapped"
                                on-mouseover="suggestionHovered" id="{{item.id}}">{{item.name}}</li>
                        </template>
                    </ul>
            </li>
        </ul>
        <iron-ajax  id="namesAsChips" content-type="application/json"  method="GET" params='{}'   
         handle-as="json" on-error="handleError" on-response="handleResponse"   ></iron-ajax>
    </template>

    <script>
        var calculateLiIndex = function(item) {
            var index = 0;
            while((item = item.previousSibling) !== null) {
                if (item.nodeType === 1 && item.tagName.toLowerCase() === 'li') {
                    index++;
                }
            }
            return index;
        };

        var getPreviousLi = function(item) {
            var previousLi = null;
            if (item) {
                while((item = item.previousSibling) !== null) {
                    if (item.nodeType === 1 && item.tagName.toLowerCase() === 'li') {
                        previousLi = item;
                        break;
                    }
                }
            }
            return previousLi;
        };

        var addClass = function(element, cName) {
            if (element) {
                if (element.className.length > 0) {
                    element.className += ' ';
                }
                element.className += cName;
            }
        };

        var removeClass = function(element, cName) {
            if (element) {
                element.className = element.className.replace(new RegExp('(?:^|\\s)'+cName+'(?!\\S)'), '');
            }
        };

        Polymer({
            is:'multi-value-suggestbox',
            properties: {
                suggestedItems:{
                    type:Array,
                    notify: true,
                },
                selectedItems:{
                    type:Array,
                    notify: true,
                },
                options:{
                    type:Object,
                    notify: true,
                },
                chipsAjaxId:{
                    type:String,
                    notify: true,
                },
                dataModal:{
                    type:Object,
                    notify:true
                },
                chipsId:{
                    type:String,
                    notify:true
                },
                isMultiple:{
                    type:String,
                    notify:true
                }
            },
            // Fires when the "<multi-value-suggestbox>" has been fully prepared
            ready: function() {
                this.config = generalConfig() || {};
                // if not set by user, use default values
                if (!this.options.box_width) this.options.box_width = "200px";
                if (!this.options.box_height) this.options.box_height = "40px";
                if (!this.options.allow_space) this.options.allow_space = false;
                if (!this.options.allow_nonmatching) this.options.allow_nonmatching = false;
                this.selectedItems =  this.getAttribute("selected-items") || [];
                this.suggestedItems = [];
            },
            listeners:{
                'input-changed':'addRemoveChips'
            },
            observers:[
                'isMultipleChanged(isMultiple)'
            ],
            isMultipleChanged:function(isMultiple){
            },
            addRemoveChips:function(ele){
                if (ele.detail.newInput !== undefined) {
                    this.$.namesAsChips.url=this.attributes.url.value+ele.detail.newInput;
                    this.$.namesAsChips.method='GET';
                    this.$.namesAsChips.headers={'API_KEY':this.config.urls.memcache.API_KEY};
                    this.$.namesAsChips.generateRequest();
                }
            },
            loadChips:function(response){
                var contacts = response;
                    return contacts.map(function(c, index) {
                        var cParts = c.split(' ');
                        var contact = {
                            name: c
                        };
                        contact._lowername = contact.name.toLowerCase();
                        return contact;
                 });
            },

            handleResponse: function(event) {
                  if(event.detail.response!=null && event.detail.response!==undefined){
                        var el = document.querySelector('#multi_suggest');
                        var contacts = event.detail.response;
                        var chips = [];
                       contacts.map(function(c, index) {
                            var contact = {
                                name: (c.name) || c,
                                id: (c.id)||index
                            };
                            contact._lowername = contact.name.toLowerCase();
                            chips.push(contact);
                        });
                       this.suggestedItems = chips;
                  }                       
             },
             handleError:function(event){
                console.log(event);
             },
            elementTapped: function(event, detail, sender) {
                this.setFocus();
            },

            suggestionTapped: function(event, detail, sender) {
                // reset input
                if(this.isMultiple=="multi"){
                    this.push('selectedItems',{id:event.target.id,name:event.target.innerText});
                }else{
                     this.selectedItems = [{id:event.target.id,name:event.target.innerText}];
                }
                this.$.item_input.innerText = '';

                this.resetSuggestions();
            },
            suggestionHovered: function(event, detail, sender) {
                removeClass(this.$.item_list.querySelector('#suggest_menu li.active'), 'active');
                addClass(sender, 'active');
            },

            removeTapped: function(event, detail, sender) {
                this.splice('selectedItems',calculateLiIndex(event.target.parentNode), 1);
            },
            keydownHandler: function(event, detail, sender) {
                var activeSuggestion;
                switch(event.keyCode) {
                    case 8:  // backspace
                        if (event.target.innerText.length === 0 && this.selectedItems.length > 0) {
                            this.pop('selectedItems');
                        }
                        break;

                    case 32:  // spacebar
                        if (this.options.allow_space === true) {
                            break;
                        }
                        // else fall through
                    case 13:  // enter
                        activeSuggestion = this.$.item_list.querySelector('#suggest_menu li.active');
                        var topSuggestion = this.$.item_list.querySelector('#suggest_menu li');
                        if (activeSuggestion) {
                            if(this.isMultiple=="multi"){
                                this.push('selectedItems',{id:activeSuggestion.id,name:activeSuggestion.innerText});
                            }else{
                                 this.selectedItems = [{id:activeSuggestion.id,name:activeSuggestion.innerText}];
                            }
                            this.$.item_input.innerText = '';
                            this.resetSuggestions();
                        } else if ((this.options.allow_nonmatching === true && this.$.item_input.innerText.length > 0) ||this.$.item_input.innerText === topSuggestion.innerText) {
                            this.push('selectedItems',{id:event.target.id,name:event.target.innerText});
                            this.$.item_input.innerText = '';
                            this.resetSuggestions();
                        }
                        inputChanged = false;
                        event.preventDefault();
                        break;

                    case 27:  // escape
                        if (this.options.allow_nonmatching === true || this.suggestedItems.length > 0) {
                            this.resetSuggestions();
                            event.preventDefault();
                        }
                        inputChanged = false;
                        break;

                    case 38:  // up arrow
                        activeSuggestion = this.$.item_list.querySelector('#suggest_menu li.active');
                        var prev = getPreviousLi(activeSuggestion);
                        removeClass(activeSuggestion, 'active');
                        if (prev) {
                            addClass(prev, 'active');
                        } else {
                            addClass(this.$.item_list.querySelector('#suggest_menu li:last-of-type'), 'active');
                        }
                        inputChanged = false;
                        break;

                    case 40:  // down arrow
                        activeSuggestion = this.$.item_list.querySelector('#suggest_menu li.active');
                        var next = this.$.item_list.querySelector('#suggest_menu li.active ~ li');
                        removeClass(activeSuggestion, 'active');
                        if (next) {
                            addClass(next, 'active');
                        } else {
                            addClass(this.$.item_list.querySelector('#suggest_menu li'), 'active');
                        }
                        inputChanged = false;
                        break;
                }
            },
            keyupHandler: function(event, detail, sender) {
                var inputChanged = true;
                var activeSuggestion;
                switch(event.keyCode) {
                    case 8:  // backspace
                        if (event.target.innerText.length === 0) {
                            inputChanged = false;
                        }
                        break;

                    case 9:  // tab
                    case 13:  // enter
                    case 16:  // shift
                    case 17:  // ctrl
                    case 18:  // alt
                    case 27:  // escape
                    case 37:  // left arrow
                    case 38:  // up arrow
                    case 39:  // right arrow
                    case 40:  // down arrow
                        inputChanged = false;
                        break;
                }
                if (inputChanged === true) {
                    this.fireInputChangedEvent();
                }
            },

            fireInputChangedEvent: function() {
                this.fire('input-changed', { newInput: this.$.item_input.innerText });
            },

            resetSuggestions: function() {
                while (this.suggestedItems.length > 0) {
                    this.suggestedItems = [];
                }
            },
            setFocus: function() {
                this.$.item_input.focus();
            }
        });
    
    </script>

</dom-module>
