<dom-module id="chpe-progress-bar">
<style type="text/css">
	:host {
	  flex-direction: row;
	  display: flex;
	  align-items: center;
	}

	.spacer {
	  flex: 0.5;
	  border-bottom: 1px solid #000;
	  margin: 3px;
	}

	.spacer.current, .spacer.completed {
	  border-bottom-color: #333;
	}

	.spacer.disabled {
	  border-bottom-color: #ccc;
	}
	.progress{
		background: #ccc;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		color:#000;
	}
</style>
  <template>
      <template is="dom-repeat" items="{{steps}}">
      	 <span class="progress">{{item}}</span>
      </template>
  </template>
    <script>
        Polymer({
            is: 'chpe-progress-bar',
            properties: {
                currentStep:Number,
                steps:Array
            },
            ready:function(){
                this.currentStep =  0;
                this.steps =  [1,2];
                this.i = 0;
            },
            listeners:{
                
            },
            getStepClass: function (i) {
		        var k = parseInt(this.currentStep, 10);
		        if (isNaN(k)) {
		          k = 0;
		          console.warn('The currentStep attribute is invalid (NaN). Using 0 as the default value.');
		        }
		        if (i === k) {
		          return 'current';
		        }
		        if (i < k) {
		          return 'completed';
		        }
		        return 'disabled';
		      },
        });
        
    </script>
</dom-module>