<dom-module id="element-overview">
    <style type="text/css">
        :host {
            display: block;
            position: relative;
            background: #fff;
            box-shadow: 0px 0px 15px 0px #888;
            margin-top:10px;
        }
        
        #cards {
            @apply(--layout-vertical);
            @apply(--center-justified);
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        
        #cards .card-content {
            padding: 0px !important;
        }
        
        paper-card {
            width: 100%;
            margin-bottom: 16px;
        }
        
        .sepeartion {
            width: 100%;
            border: 1px dashed #ccc;
            float: left;
            margin: 5px 0px;
        }
        
        #cards .card-content .singleItem {
            float: left;
            margin-left: 15%;
            font-size: 14px;
            width: 100%;
            margin-bottom: 6px;
        }
        
        #cards .card-content h4 {
            margin-left: 12%;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        
        .heading {
            background-color: #f4f4f4;
            padding: 10px 30px;
            margin: 0px;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            font-weight: 400;
        }
        
        .margin-bottom0 {
            margin-bottom: 0px !important;
        }
        .bold{
            font-weight: bold;
            padding: 0px 5px;
        }
    </style>
    <template>
        <paper-card id="cards">
            <div class="card-content">
                <h2 class="heading">Overview</h2>
                <template is="dom-if" if="{{!overViewError}}">
                    <h4>Expring in a week</h4>
                    <!-- This is section for displaying exprining data -->
                    <div class="singleItem"><span class="bold">{{overViewData.expdata.COUPON}}</span>Coupons</div>
                    <div class="singleItem"><span class="bold">{{overViewData.expdata.ADD_ON}}</span>Schemes</div>
                    <div class="singleItem margin-bottom0"><span class="bold">{{overViewData.expdata.GIFT_CARD}}</span>Gift Cards</div>
                   <!--  <h2>&nbsp;</h2> -->
                    <h1 class="sepeartion"></h1>
                    <!-- This section is for display total data -->
                    <div class="singleItem"><span class="bold">{{overViewData.totals.ADD_ON}}</span>Schemes</div>
                    <div class="singleItem"><span class="bold">{{overViewData.totals.COUPON}}</span>Coupons</div>
                    <div class="singleItem"><span class="bold">{{overViewData.totals.GIFT_CARD}}</span>
                        Gift Cards</div>
                    <div class="singleItem"><span class="bold">{{overViewData.totals.peoples}}</span>People</div>
                    <div class="singleItem"><span class="bold">{{overViewData.totals.cities}}</span>Cities</div>
                    <div class="singleItem"><span class="bold">{{overViewData.totals.countries}}</span>Countries</div>
                </template>
                <template is="dom-if" if="{{overViewError}}">
                    <h4>No Data found....</h4>
                </template>
            </div>
        </paper-card>
        <iron-ajax id="overviewAjax" auto handle-as="json" method="GET" on-error="handleError" on-response="handleResponse">
        </iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'element-overview',
            properties: {
                overViewError: {
                    type: Boolean,
                    value: false
                },
                overViewData: {
                    type: Object,
                    notify: true
                }
            },
            observers: [],
            ready: function() {
                this.config = generalConfig() || {};
                this.$.overviewAjax.url =  this.config.urls.overview;
                this.$.overviewAjax.generateRequest();
            },
            handleResponse: function(event) {
                if(chUtils.isEmpty(event.detail.response)===false){
                    this.overViewData = event.detail.response;
                }else{
                    this.overViewData = {};
                    this.overViewError = true;
                }
            },
            handleError: function(event) {
                console.log(event);
                this.overViewData = {};
                this.overViewError = true;
            }
        });
    </script>
</dom-module>