<dom-module id="element-overview">
    <style type="text/css">
        :host {
            display: block;
            position: fixed;
            margin-top:10px;
            top:65%;
            width: 260px;
        }
        .bold{
            font-weight: bold;
            padding: 0px 5px;
        }
        .specialData{
          border:1px solid silver; 
          padding:10px; 
          background:#fff;
        }
        .totals{
            padding-top: 15px;
        }
         paper-tabs, paper-toolbar {
        background-color: #00bcd4;
        color: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        margin: 0px 10px;
      }
      paper-toolbar paper-tabs {
        box-shadow: none;
      }
      paper-tabs[noink][no-bar] paper-tab.iron-selected {
        color: #ffff8d;
      }
      paper-tab.iron-selected{
          background: lightgreen;
        opacity: 0.7;
        color: black;
      }
      paper-tabs[align-bottom] {
        box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
      }
      h3 {
        font-size: 16px;
        font-weight: 400;
        padding-top: 20px;
      }
      iron-pages{
        margin: 0px 10px;
        padding: 10px !important;
        background: #f4f4f4;
        font-size: 16px;
      }
      iron-pages div span{
        line-height: 24px;
      }
    </style>
    <template>
    <paper-tabs selected="{{selected}}">
      <paper-tab>Expiring</paper-tab>
      <paper-tab>Totals</paper-tab>
    </paper-tabs>
    <iron-pages selected="{{selected}}">
      <div>
        <span class="bold">{{overViewData.expdata.COUPON}}</span>Coupons</br>
        <span class="bold">{{overViewData.expdata.ADD_ON}}</span>Schemes</br>
        <span class="bold">{{overViewData.expdata.GIFT_CARD}}</span>Gift Cards</br>
      </div>
      <div>
        <span class="bold">{{overViewData.totals.ADD_ON}}</span>Schemes</br/>
        <span class="bold">{{overViewData.totals.COUPON}}</span>Coupons</br/>
        <span class="bold">{{overViewData.totals.GIFT_CARD}}</span>Gift Cards</br/>
          <div class="specialData">
            <span class="bold">{{overViewData.totals.peoples}}</span>People</br/>
            <span class="bold">{{overViewData.totals.cities}}</span>Cities</br/>
            <span class="bold">{{overViewData.totals.countries}}</span>Countries
          </div>
      </div>
    </iron-pages>
        <iron-ajax id="overviewAjax" auto handle-as="json" method="GET" on-error="handleError" on-response="handleResponse">
        </iron-ajax>
      </template>
    <script>
        Polymer({
            is: 'element-overview',
            properties: {
                overViewError: {
                    type: Boolean,
                    value: false
                },
                overViewData: {
                    type: Object,
                    notify: true
                },
                 selected: {
                  type: Number,
                  value: 0
                }
            },
            observers: ['overViewDataChanged(overViewData)'],
            ready: function() {
                this.config = generalConfig() || {};
                this.$.overviewAjax.url =  this.config.urls.overview;
                this.$.overviewAjax.generateRequest();
            },
            overViewDataChanged:function(overViewData){
              console.log(overViewData);
            },
            handleResponse: function(event) {
                if(chUtils.isEmpty(event.detail.response)===false){
                    this.overViewData = event.detail.response;
                }else{
                    this.overViewData = {};
                    this.overViewError = true;
                }
            },
            handleError: function(event) {
                console.log(event);
                this.overViewData = {};
                this.overViewError = true;
            }
        });
    </script>
</dom-module>