<script src="../../config/general.js"></script>
<script src="../../config/schemeBase.js"></script>
<dom-module id="advance-paid-points">
    <style type="text/css">
        .searchBoxInSrc{
            width: 100%;
        }
        .searchBoxInSrc paper-input{
            margin-left: 20px;
        }
        
        .row{
            width: 100%;
            margin-top: 10px;
        }
        .discountBox.chpe-discount{
            width: 320px !important;
        }
         paper-input {
            margin-top: 0px !important;
            margin-left: 10px;
        }
        .adprSection{
            margin-top: 10px;
        }
        .singleRow{
            margin-bottom:20px;
        }
        #adpBox paper-fab{
            margin-right: -5px;
        }

    </style>
    <template id="adpBox">
        <div class="col-12 margin0 adprSection">
          <h4 class="col-12 margin0">Points on Advance Paid
            <paper-icon-button icon="icons:add" disabled$="{{metadata.published}}" on-click="addApd"></paper-icon-button>
          </h4>
          <template is="dom-repeat" items="{{behaviorData.advancePaidPoints}}" as="apd">
            <div class="col-12 margin0 singleRow">
                <div class="col-5">
                       <paper-input name="amount" no-label-float label="Amount" 
                       value="{{apd.amount}}"></paper-input>
                </div>
                 <div class="col-5">
                        <paper-input name="points" no-label-float label="Points" 
                       value="{{apd.points}}"></paper-input>
                </div>
                <div class="col-2">
                    <paper-icon-button disabled$="{{metadata.published}}"  hidden$="{{showDeleteByRow(index)}}"class="pull-right" mini icon="icons:delete" on-click="deleteApd">
                    </paper-icon-button>
                </div>
            </div>      
          </template> 
        </div>
    </template>
    <script>
        Polymer({
            'is':'advance-paid-points',
             properties:{
                behaviorData:{
                    type:Object,
                    notify:true
                },
                metadata:{
                    type:Object,
                    notify:true
                }
            },
            ready:function(){

            },
            listeners:{
                "onClick":"addApd",
            },
            showDeleteByRow:function(row){
                if(row==0){
                    return true;
                }else{
                    return false;
                }
            },
            addApd :function(e){
                this.push('behaviorData.advancePaidPoints', {amount:"",points:""});
                this.rowCount = false;
           ;
            },
            deleteApd:function(e){
                if(e.model.index!=0){
                    this.splice('behaviorData.advancePaidPoints',e.model.index,1);
                    this.rowCount = false;
                }
            },
            doChange:function(){
                console.log(this);
                this.fire('render');
            }
        });
    </script>
</dom-module>