<script src="../../config/general.js"></script>
<script src="../../config/schemeBase.js"></script>
<dom-module id="advance-paid-points">
    <style type="text/css">
        .searchBoxInSrc{
            width: 100%;
        }
        .searchBoxInSrc paper-input{
            margin-left: 20px;
        }
        
        .row{
            width: 100%;
            margin-top: 10px;
        }
        .discountBox.chpe-discount{
            width: 320px !important;
        }
         paper-input {
            margin-top: 0px !important;
            margin-left: 10px;
        }

    </style>
    <template id="srcCategory">
      <paper-card heading= "Points on Advance Paid" class="col-12">
        <div class="card-content">
          <template is="dom-repeat" items="{{behavior.advancePaidDiscounts}}" as="apd">
            <div class="horizontal layout">
                <div class="col-5">
                       <paper-input name="amount" no-label-float label="Amount" 
                       value="{{apd.amount}}"></paper-input>
                </div>
                 <div class="col-5">
                        <paper-input name="points" no-label-float label="Points" 
                       value="{{apd.points}}"></paper-input>
                </div>
                <div class="col-2">
                    <paper-icon-button icon="icons:delete" on-click="deleteApd"></paper-icon-button>
                </div>
            </div>      
          </template> 
        </div>
            <div class="card-actions">
                <div class="horizontal layout" >
                    <paper-button on-click="addApd">Add</paper-button>
                </div>
            </div>
            </paper-card>
    </template>
    <script>
        Polymer({
            'is':'advance-paid-points',
             properties:{
                "foodArray":{
                    type:Array,
                    notify:true
                }
            },
            ready:function(){
                   // console.log(this.behavior.serviceRateCategoryDiscounts);
            },
            listeners:{
                "onClick":"addApd",
            },
            //add or remove src categories
            addApd :function(e){
                this.push('behavior.advancePaidDiscounts', {amount:"",points:""});
           ;
            },
            deleteApd:function(e){
                if(e.model.index!=0){
                    this.splice('behavior.advancePaidDiscounts',e.model.index,1);
                }
            },
            doChange:function(){
                console.log(this);
                this.fire('render');
            }
        });
    </script>
</dom-module>