<script src="../../config/general.js"></script>
<script src="../../config/schemeBase.js"></script>

<dom-module id="basic-scheme">
    <style type="text/css">
        date-time-picker {
            margin-top: 0px;
        }
        .pull-right {
            float: right;
        }
        .ddiscount {
            margin-top: 0px;
        }
        paper-input {
            margin-top: 0px !important;
            margin-left: 10px;
        }
        .row{
            width: 100%;
        }

    </style>
    <template>
        <div class="col-12">
            <div class="col-6">
                <paper-input name="name" autocapitalize="on" value="{{metadata.name}}" required auto-validate pattern="^[a-zA-Z,-,0-9]{3,}[a-zA-Z]*$" no-label-float error-message="Scheme Name must starts with character, Minimum 3 characters required,Cannot contains special characters except -" label="Scheme Name">
                </paper-input>
            </div>
            <div class="col-6">
                <paper-input name="Maximum Usages" no-label-float label="Maximum Usages" type="number" value="{{behavior.maximumUsages}}" max="10" min="0"></paper-input>
            </div>
        </div>

        <div class="col-12">
            <div class="col-6">
              <date-time-picker date-type="{{startDateType}}" date-modal="{{startDateModal}}" date-time-value="{{schemeStarts}}" date-label="Start Date" date-id="{{sdDp}}" time-id="{{sdTp}}"></date-time-picker>  
            </div>
            <div class="col-6">
                <date-time-picker date-type="{{endDateType}}" date-modal="{{endDateModal}}" date-time-value="{{schemeEnds}}" date-label="End Date" date-id="{{edDp}}" time-id="{{edTp}}"></date-time-picker>
            </div>
        </div>
        <div class="col-12">
            <chpe-discount id="basicSchemeDiscount"   discount-id="{{basicDiscount}}" percentage-id="{{percentageId}}" flat-id="{{flatId}}"
            discount="{{defaultDiscount}}" discount-modal="{{behavior}}">
            </chpe-discount>
        </div>
    </template>
    <script>
        Polymer({
            is: 'basic-scheme',
            properties: {
                succErrMsg: String,
                startDateModal:String,
                endDateModal:String,
                schemeStarts:String,
                schemeEnds:String,
                startDateType:String,
                endDateType:String,
                sdTp:String,
                sdDp:String,
                edTp:String,
                edDp:String,
                percentageId:String,
                flatId:String,
                discountModal:String,
                metadata:Object,
                behavior:Object
            },
            ready: function() {
                //this.$.basicSchemeDiscount.behavior = this.behavior; 
            },
            listeners: {

            }
        });
    </script>
</dom-module>