<script src="../../config/general.js"></script>
<script src="../../config/schemeBase.js"></script>

<dom-module id="basic-scheme">
    <style type="text/css">
        date-time-picker {
            margin-top: 0px;
            cursor: pointer;
        }
        .pull-right {
            float: right;
        }
        .radioButtons {
            padding: 0px;
            display: inline;
            margin: 0 5px;
        }
        .ddiscount {
            margin-top: 0px;
        }
        paper-input {
            margin-top: 0px !important;
        }

    </style>
    <template>
        <paper-input name="name" autocapitalize="on" value="{{metadata.name}}" required auto-validate pattern="^[a-zA-Z,-,0-9]{3,}[a-zA-Z]*$" no-label-float error-message="Scheme Name must starts with character, Minimum 3 characters required,Cannot contains special characters except -" label="Scheme Name">
        </paper-input>

        <date-time-picker date-type="{{startDateType}}" date-modal="{{startDateModal}}" date-time-value="{{schemeStarts}}" date-label="Start Date" date-id="{{sdDp}}" time-id="{{sdTp}}"></date-time-picker>

        <date-time-picker date-type="{{endDateType}}" date-modal="{{endDateModal}}" date-time-value="{{schemeEnds}}" date-label="End Date" date-id="{{edDp}}" time-id="{{edTp}}"></date-time-picker>

        <chpe-discount  discount-id="basicDiscount" percentage-id="basicPercentage" flat-id="basicFlatId"
        discount="{{defaultDiscount}}" discount-type="{{discountType}}">
        </chpe-discount>
        
        <paper-input name="Maximum Usages" no-label-float label="Maximum Usages" type="number" value="{{behavior.maximumUsages}}" max="10" min="0"></paper-input>

    </template>
    <script>
        Polymer({
            is: 'basic-scheme',
            properties: {
                succErrMsg: String,
                startDateModal:String,
                endDateModal:String,
                schemeStarts:String,
                schemeEnds:String,
                startDateType:String,
                endDateType:String,
                sdTp:String,
                sdDp:String,
                edTp:String,
                edDp:String,
            },
            ready: function() {
                console.log(generalConfig().stateVariables);
                this.metadata = schemeBase.metadata;
                this.behavior = schemeBase.behavior;
                this.scheme = schemeBase;
                this.defaultDiscount = schemeBase().behavior.defaultDiscount;
            },
            listeners: {

            }
            
        });
    </script>
</dom-module>