
<dom-module id="chpe-discount">
<style type="text/css">
    :host{
        display: block;
        margin-bottom: 15px;
    }
    .discountBox{
        display: inline-block;
        margin-left: 10px;
        padding: 0px 0px 5px 0px;
        margin-top: 10px;
        width:356px;
    }
   .discountButton{
        min-width:30px;
        background: #f4f4f4;
        border:1px solid #ccc;
    }
    .active{
        color:#000 !important;
        background: lightgreen !important;
        box-shadow: none;
    }
    .noRightBorder{
        border-right: none !important;
    }
    label{
        float: left;
        line-height:40px;
        margin-right: 10px;
    }
    .btn-group {
      display: inline-block;
      vertical-align: middle;
      float: left;
      margin:0px;
      width: 30%;
    }
    .btn-group > paper-button {
      float: left;
      margin: 0px;
     border-radius: 0px !important;
     width:50%;

    }
    .discountInput{
        display: inline-block;
        margin: 0;
        line-height: 28px;
        border-right:1px solid #ccc;
        border-top:1px solid #ccc;
        height: 36px;
        width:68%;
    }
    .margin-bottom15{
        margin-bottom: 15px;
    }

</style>
    <template>
        <div class="col-6 margin-bottom15">
            <div class="discountBox"  id="discountToggle" layout horizontal>
                <div class="btn-group">
                    <paper-button type="button" name="discount" 
                    class="discountButton noRightBorder active" 
                    on-click="togleDiscount" id="{{percentageId}}" discount="%" title="1a">%</paper-button>

                    <paper-button type="button" name="{{flatType}}" class="discountButton"
                    on-click="togleDiscount" id="{{flatId}}" discount="Flat" title="2b" >Flat</paper-button>
                    </div>
                    <div class="discountInput">
                        <paper-input name="flat" style="border:none;" no-label-float label="Discount" type="number"  id="{{discountId}}" 
                        max="{{discountLength}}" min="0"  required auto-validate pattern="{{discountPattern}}" 
                         error-message="Max 999 if Flat ; 10 if %" value="{{discountModal.discount}}"></paper-input>
                    </div>
            </div>
         </div>
      		
    </template>
    <script>
        Polymer({
            is: 'chpe-discount',
            properties: {
                discountId:Boolean,
                percentageId:String,
                flatId:String,
                discount:String,
                discountType:String,
                flatType:String,
                discountModal:String,
                discountValue:String,
                scheme:Object,
        
            },
            ready:function(){
                console.log(this.discountModal);
                this.discountLength  = 10;
                this.discountPattern = "^([0-10])$";
            },
            listeners:{
              'discountToggle.onClick':'togleDiscount'
            },
            togleDiscount:function(e){
                var discountType = e.target.innerText;
                console.log(e);
                //first removing all classes and setting clicked element to active
                chUtils.removeClass(document.querySelector("#"+this.percentageId),"active");
                chUtils.removeClass(document.querySelector("#"+this.flatId),"active");

                if (discountType == "%") {
                    if(this.discountModal.maxLength!==undefined){
                        this.discountModal.maxLength = this.discountLength = 10;
                    }else{
                        this.discountLength = 10;
                    }

                    this.discountPattern = "^([0-10])$";
                    chUtils.addClass(document.querySelector("#"+this.percentageId),"active");
                    console.log(document.querySelector("#"+this.percentageId));
                    this.discountModal.discountType = discountType; 
                } else {
                    chUtils.addClass(document.querySelector("#"+this.flatId),"active");

                     if(this.discountModal.maxLength!==undefined){
                        this.discountModal.maxLength = this.discountLength = 999;
                    }else{
                        this.discountLength = 999;
                    }
                    this.discountPattern = "^([0-999])$";
                    console.log(document.querySelector("#"+this.flatId));
                    this.discountModal.discountType = discountType; 
                }
            }
          
        });
       
        
    </script>
</dom-module>