<dom-module id="chpe-addon">
    <style type="text/css">
        .submitButtons {
            text-align: right;
            margin: 0px 12px 0px 0px;
            padding: 0px;
        }
        
        .submitButtons span {
            display: inline-block;
        }
        
        .arrows {
            background: none;
        }
        
        .base-scheme-card {
            width: 50%;
            padding: 2%;
        }
        
        #cards {
            @apply(--layout-vertical);
            @apply(--center-justified);
            max-width: 780px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }
        
        paper-fab {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
        }
        
        paper-fab.blue {
            --paper-fab-background: var(--paper-light-blue-300);
            --paper-fab-keyboard-focus-background: var(--paper-light-blue-200);
        }
        
        paper-fab.red {
            --paper-fab-background: var(--paper-red-500);
            --paper-fab-keyboard-focus-background: var(--paper-red-900);
        }
        
        paper-fab.green {
            --paper-fab-background: var(--paper-green-500);
            --paper-fab-keyboard-focus-background: var(--paper-green-900);
        }
        
        paper-fab.orange {
            --paper-fab-background: var(--paper-orange-500);
            --paper-fab-keyboard-focus-background: var(--paper-orange-900);
        }
        
        .addon-base-card {
            margin: 0px auto;
            max-width: 720px;
            @apply(--layout-vertical);
            @apply(--center-justified);
        }
        
        paper-input {
            margin-top: 0px !important;
            margin-left: 10px;
        }
        
        .addon-extend-card {
            margin: 0px auto;
            max-width: 760px;
            @apply(--layout-vertical);
            @apply(--center-justified);
        }
        
        .leftnav {
            position: fixed;
            top: 269px;
            left: 256px;
            z-index: 11;
            min-height: 160px;
        }
        
        .leftnav paper-item {
            cursor: pointer;
        }
        
        .leftnav .iron-selected {
            background: #4fc3f7 !important;
            border-radius: 0px;
        }
        
        .lastStepActions {
            padding: 0px;
            margin: 0px;
            /*background: #4fc3f7;*/
        }
    </style>
    <template>
        <paper-material class="leftnav" elevation="5">
            <paper-menu selected="{{selected}}" style="padding:0px;">
                <paper-item>1</paper-item>
                <paper-item>2</paper-item>
                <paper-item>3</paper-item>
                <paper-item>4</paper-item>
            </paper-menu>
        </paper-material>
        <paper-material elevation="1" type="{{schemeType}}">
            <!--  <paper-slider id="stepIndicator" pin snaps max="7" step="1" value="0" class="pull-right orange col-8"></paper-slider> -->
            </h4>
            <form is="iron-form" id="addon-form" method="POST" action="#">
                <neon-animated-pages id="addonPages" class="flex" selected="[[selected]]" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
                    <neon-animatable>
                        <paper-card elevation="5" class="addon-extend-card">
                            <div class="card-content  margin0">
                                <basic-scheme id="basicAddonScheme" start-date-modal="addOnStartDate" end-date-modal="addOnEndDate" scheme-starts="addOnStart" scheme-ends="addOnEnds" start-date-type "addOnstart" end-date-type="addOnend" sd-dp="staddOnDp" sd-tp="staddOnTp" ed-dp="eDaddOnDp" ed-tp="eDaddOnTp" flat-id="basicFlatInAddon" percentage-id="basicPerecentageInAddon"></basic-scheme>
                                <div class="col-12 margin0 padding0">
                                    <div class="col-2" style="margin:25px 0px 0px 0px;font-weight:bold;">
                                        <label style="margin-left:10px;">Locations :</label>
                                    </div>
                                    <div class="col-10 margin0">
                                        <multi-value-suggestbox id="multi_suggest" newInput="" url="/api/proxy?url=http://52.76.37.144:8080/javaapi/rest/locations/" options='{
                              "allow_space": false,
                              "allow_nonmatching": false
                          }' selected-items="{{scheme.behavior.locationOfServices}}">
                                        </multi-value-suggestbox>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actions col-12" style="padding:0px;margin:0px;">
                                <div class="col-11 margin0">&nbsp;</div>
                                <div class="col-1 margin0">
                                    <paper-fab mini icon="done" class="blue action" on-click="_onNextClick">
                                    </paper-fab>
                                </div>
                            </div>
                        </paper-card>
                    </neon-animatable>
                    <!-- second step -->
                    <neon-animatable>
                        <paper-card elevation="5" class="addon-extend-card">
                            <div class="card-content">
                                <div class="margin0">
                                    <service-rate-category id="addonSrc" class="margin0 addon-extend-card"></service-rate-category>
                                    <service-level-discounts id="addonSlc" class="margin0 addon-extend-card">
                                    </service-level-discounts>
                                </div>
                            </div>
                            <div class="card-actions">
                                <div class="arrows col-1 margin0">
                                    <paper-fab mini icon="arrow-back" class="blue action" on-click="_onPrevClick">
                                    </paper-fab>
                                </div>
                                <div class="col-10 margin0">&nbsp;</div>
                                <div class="col-1 margin0">
                                    <paper-fab mini icon="done" class="blue action" on-click="_onNextClick">
                                    </paper-fab>
                                </div>
                            </div>
                        </paper-card>
                    </neon-animatable>

                    <!-- third step -->
                    <neon-animatable>
                        <paper-card elevation="5" class="addon-extend-card">
                            <div class="card-content">
                                <div class="margin0">
                                    <cumulative-bill-amounts id="addOnCap"></cumulative-bill-amounts>
                                    <advance-paid-points id="addonApp"></advance-paid-points>
                                </div>
                            </div>
                            <div class="card-actions col-12" style="padding:0px;">
                                <div class="arrows col-1 margin0">
                                    <paper-fab mini icon="arrow-back" class="blue action" on-click="_onPrevClick">
                                    </paper-fab>
                                </div>
                                <div class="col-10 margin0">&nbsp;</div>
                                <div class="col-1 margin0">
                                    <paper-fab mini icon="done" class="blue action" on-click="_onNextClick">
                                    </paper-fab>
                                </div>
                            </div>
                        </paper-card>
                    </neon-animatable>
                    <!-- fourth step -->
                    <neon-animatable>
                        <paper-card elevation="5" class="addon-extend-card">
                            <div class="card-content">
                                <h4 class="col-12 margin0">Discounts on Doctor Allocation</h4>
                                <div class="col-12" id="doctrosDiscountBlock">
                                    <template is="dom-repeat" items="{{scheme.behavior.doctorLevelDiscounts}}" as="dda">
                                        <templte>
                                            <div class="col-6">
                                                <label><span class="upperCase">{{dda.type}}</span> Chosen:</label>
                                                <chpe-discount id="{{dda.type}}" discount-modal="{{dda}}" discount-id="ddaDiscount{{index}}" percentage-id="percent{{index}}" flat-id="flat{{index}}">
                                                </chpe-discount>
                                            </div>
                                        </templte>
                                    </template>
                                </div>
                                <div class="col-12" style="margin-top:15px;">
                                    <bill-range-discounts id="addonBsd">
                                    </bill-range-discounts>
                                </div>
                                <div id="mopDiscounts" class="col-12 margin0">
                                    <h4 class="col-12 margin0">
                                      Discounts on Mode of Payments
                                    </h4>
                                    <template id="addonMop" is="dom-repeat" items="{{scheme.behavior.modeOfPaymentDiscounts}}" as="mopDiscounts">
                                        <templte>
                                            <div class="col-6">
                                                <label><span>{{mopDiscounts.mop}}</span></label>
                                                <chpe-discount id="{{mopDiscounts.mop}}" discount-modal="{{mopDiscounts}}" discount-id="mopDiscount{{index}}" percentage-id="moppercent{{index}}" flat-id="mopflat{{index}}">
                                                </chpe-discount>
                                            </div>
                                        </templte>
                                    </template>
                                </div>
                            </div>
                            <div class="card-actions col-12 lastStepActions">
                                <div class="arrows col-1 margin0">
                                    <paper-fab mini icon="arrow-back" class="action" on-click="_onPrevClick">
                                    </paper-fab>
                                </div>
                                <div class="col-5 margin0">&nbsp;</div>
                                <div class="col-6 margin0">
                                    <div class="submitButtons">
                                <paper-button name="addon-form.createSchemeBtn" raised  on-click="submitForm" data-args="false" id="addonSave"  value="{{schemeStatus}}">Save</paper-button>
                                <paper-button name="addon-form.createSchemeBtn" data-args="true" on-click="submitForm" id="addonPublishBtn" status="true" raised value="{{schemeStatus}}">Save + Publish</paper-button>
                                    </div>
                                </div>
                            </div>
                        </paper-card>
                        <div class="col-10">

                        </div>
                    </neon-animatable>
                </neon-animated-pages>
            </form>
        </paper-material>
        <iron-ajax id="schemeAjax" content-type="application/json" method="POST" params='{}' handle-as="json" on-error="handleError" on-response="handleResponse"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'chpe-addon',
            properties: {
                schemeType: String,
                schemeStatus: Boolean,
                succErrMsg: String
            },
            attached: function() {
                //console.log(this.schemeType);
            },
            ready: function() {
                this.selected = 0;
                this.config = generalConfig() || {};
                this.scheme = schemeBase();
                this.$.basicAddonScheme.metadata = this.scheme.metadata;
                this.$.basicAddonScheme.behavior = this.scheme.behavior;
                this.$.addonSrc.behavior = this.scheme.behavior;
                this.$.addonSlc.behavior = this.scheme.behavior;
                this.$.addOnCap.behavior = this.scheme.behavior;
                this.$.addonApp.behavior = this.scheme.behavior;
                this.$.addonBsd.behavior = this.scheme.behavior;
                //this.$.xyz.behavior = this.scheme.behavior;

            },
            listeners: {
                'addon-form.iron-form-submit': 'createScheme',
                'addon-form.addonSave.onClick': 'submitForm',
                'value-change': 'getCurrentStep',
                'addon-form.iron-input-validate': 'enableButtons'
            },

            enableButtons: function(e) {
                /*this.actionElements = document.getElementsByClassName("action");
                if(e.target.invalid){
                    this.actionElements.forEach(function(val,index){
                      val.disabled = true;
                    });
                }else{
                    this.actionElements.forEach(function(val,index){
                      val.disabled = false;
                    });
                }*/
            },
            _onPrevClick: function() {
                this.entryAnimation = 'slide-from-left-animation';
                this.exitAnimation = 'slide-right-animation';
                this.selected = this.selected === 0 ? 3 : (this.selected - 1);
            },
            _onNextClick: function() {
                this.entryAnimation = 'slide-from-right-animation';
                this.exitAnimation = 'slide-left-animation';
                this.selected = this.selected === 3 ? 0 : (this.selected + 1);

            },
            createScheme: function() {
                this.formData = document.getElementById('addon-form').serialize();
                this.scheme.behavior.startDate = chUtils.toIsoString(this.formData.addOnstart);
                this.scheme.behavior.endDate = chUtils.toIsoString(this.formData.addOnend);

                this.scheme.metadata.type = "ADD_ON";
                this.scheme.metadata.published = false;
                this.scheme.on = "newscheme";
                this.scheme.operation = "create";
                if (this.scheme !== undefined) {
                    this.$.schemeAjax.url = 'http://172.19.4.162:91' + this.config.urls.rest;
                    this.$.schemeAjax.method = "POST";
                    this.$.schemeAjax.body = JSON.stringify(this.scheme);
                    this.$.schemeAjax.generateRequest();
                }
            },
            handleResponse: function(event) {
                if (event.detail.response != null && event.detail.response !== undefined) {
                    document.querySelector("#schemeSuccErrMessageToast").show();
                    console.log("Received response: " + JSON.stringify(event.detail.response));
                    var toast = document.querySelector("#schemeSuccErrMessageToast");
                    toast.text = this.scheme.metadata.type + " created successfully!...";
                    toast.show();
                } else {
                    console.log(this.scheme);
                    document.querySelector("#schemeSuccErrMessageToast").show();
                    var toast = document.querySelector("#schemeSuccErrMessageToast");
                    toast.text = "Error while creating" + this.scheme.metadata.type;
                }
                setTimeout(function() {
                    //this.formData.clear();
                }, 2000);
            },
            handleError: function(event) {
                var request = event.detail.request;
                var error = event.detail.error;
                console.log(error);
                var toast = document.querySelector("#schemeSuccErrMessageToast");
                toast.text = "Error while creating " + this.scheme.metadata.type + " Please try again.. ";
                toast.show();
            },
            submitForm: function(evt, details, sender) {
                document.getElementById('addon-form').submit();
            }
        });
    </script>
</dom-module>