<dom-module id="chpe-coupon">
    <style type="text/css">
        .submitButtons {
            text-align: right;
            margin: 0px 12px 0px 0px;
            padding: 0px;
        }
        
        .submitButtons span {
            display: inline-block;
        }
        .arrows{
            background: none;
        }
        .base-scheme-card{
            width: 50%;
            padding: 2%;
        }
        #cards {
          @apply(--layout-vertical);
          @apply(--center-justified);
          max-width:780px;
          margin-left: auto;
          margin-right: auto;
          padding: 10px;
        }
        paper-fab {
          display: block;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          height: 40px;
          width: 40px;
        }
        paper-fab.blue {
          --paper-fab-background: var(--paper-light-blue-300);
          --paper-fab-keyboard-focus-background: var(--paper-light-blue-200);
        }
        paper-fab.red {
          --paper-fab-background: var(--paper-red-500);
          --paper-fab-keyboard-focus-background: var(--paper-red-900);
        }
        paper-fab.green {
          --paper-fab-background: var(--paper-green-500);
          --paper-fab-keyboard-focus-background: var(--paper-green-900);
        }
        paper-fab.orange {
          --paper-fab-background: var(--paper-orange-500);
          --paper-fab-keyboard-focus-background: var(--paper-orange-900);
        }
        .coupon-base-card{
            margin: 0px auto;
            max-width: 720px;
            @apply(--layout-vertical);
            @apply(--center-justified);
        }
        paper-input {
            margin-top: 0px !important;
            margin-left: 10px;
        }
        .coupon-extend-card{
            margin: 0px auto;
            max-width: 760px;
            @apply(--layout-vertical);
            @apply(--center-justified);
        }
        .leftnav {
            position: fixed;
            top:155px;
            left: 256px;
            z-index: 11;
            min-height: 160px;
        }
        
        .leftnav paper-item {
            cursor: pointer;
        }
        
        .leftnav .iron-selected {
            background: #4fc3f7 !important;
            border-radius: 0px;
        }
        .lastStepActions {
            padding: 0px;
            margin: 0px;
            /*background: #4fc3f7;*/
        }
        
    </style>
    <template>
       <paper-material class="leftnav">
            <paper-menu selected="{{currentStep}}" style="padding:0px;">
                <paper-item disabled$="{{formError}}">1</paper-item>
                <paper-item disabled$="{{formError}}">2</paper-item>
            </paper-menu>
        </paper-material>
        <paper-material elevation="1" type="{{schemeType}}" >
            <form is="iron-form" id="coupon-form" method="POST" action="#" disableNativeValid>
                <neon-animated-pages id="couponPages" current$="[[currentStep]]" class="flex" selected="[[currentStep]]" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
                    <neon-animatable>
                        <div class="col-1 widthAt480">&nbsp;</div>
                        <div class="col-8">
                        <paper-card elevation="5" class="coupon-extend-card">
                        <div class="card-content margin0">
                            <basic-scheme id="basicScheme" metadata="{{schemeObj.metadata}}"
                            behavior="{{schemeObj.behavior}}"  start-date-modal="couponStartDate" end-date-modal="couponEndDate" scheme-starts="couponStart" scheme-ends="couponEnds" start-date-type="couponStart" end-date-type="couponEnds" sd-dp="stcDp" sd-tp="stcTp" ed-dp="eDcDp" ed-tp="eDcTp" flat-id="basicFlatInCoupon" percentage-id="basicPerecentageInCoupon" discount-value="{{defaultDiscount}}" >
                            </basic-scheme>
                         </div>
                        <div class="card-actions col-12" style="padding:0px;margin:0px;">
                          <div class="col-11 margin0">&nbsp;</div>
                          <div class="col-1 margin0">
                            <paper-fab mini icon="done" class="blue action" on-click="_onNextClick">
                            </paper-fab>
                          </div>
                        </div>
                    </paper-card>
                    </div>
                    </neon-animatable>

                    <!-- step2 -->
                    <neon-animatable>
                    <div class="col-1 widthAt480">&nbsp;</div>
                    <div class="col-8">
                    <paper-card elevation="5" class="coupon-extend-card">
                        <div class="card-content margin0">
                        <service-rate-category id="srcCatCoupon" 
                                behavior-data="{{schemeObj.behavior}}" metadata="{{schemeObj.metadata}}"></service-rate-category>
                         <div class="col-6">
                            <div class="col-12" style="margin:10px 0px 0px 0px;font-weight:bold;">
                                    <label style="margin-left:10px;">Locations :</label>
                                </div>
                                <div class="col-12 margin0">
                                    <multi-value-suggestbox id="multi_suggest" is-multiple="multi" newInput="" url="/api/proxy?url=http://52.76.37.144:8080/javaapi/rest/locations/"
                                    options="{
                                    'allow_space': false,
                                    'allow_nonmatching': false}" 
                                    selected-items="{{schemeObj.behavior.locationOfServices}}">
                                    </multi-value-suggestbox>
                                </div>
                            </div>
                            <div class="col-6">
                              <coupon-type id="selectCouponType" metadata="{{schemeObj.metadata}}">
                              </coupon-type>
                            </div>
                        </div>
                         <div class="card-actions col-12 lastStepActions">
                            <div class="arrows col-1 margin0">
                                <paper-fab mini icon="arrow-back" class="action" 
                                on-click="_onPrevClick">
                                </paper-fab>
                            </div>
                            <div class="col-5 margin0 hideIn320">&nbsp;</div>
                            <div class="col-6 margin0">
                                <div class="submitButtons">
                                    <paper-button name="coupon-form.createSchemeBtn" raised  on-click="submitForm" status="false" id="saveBtn" disabled="[[schemeObj.metadata.published]]">{{saveBtnText}}</paper-button>
                                    <paper-button name="coupon-form.createSchemeBtn" data-args="true" on-click="submitForm" id="publishBtn" status="true" raised>{{publishBtnText}}</paper-button>
                                </div>
                            </div>
                        </div>
                    </paper-card>
                    </div>
                    </neon-animatable>
                </neon-animated-pages>
            </form>
        </paper-material>
        <iron-ajax id="couponAjax" content-type="application/json" method="POST" params='{}' handle-as="json" on-error="handleError" on-response="handleResponse"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'chpe-coupon',
            properties: {
                schemeType: String,
                schemeStatus: Boolean,
                succErrMsg: String,
                currentStep:{
                    type:Number,
                    notify:true,
                    value:0
                },
                schemeObj:{
                    type:Object,
                    notify:true
                },
                schemeMethod:{
                    type:String,
                    notify:true
                },
                saveBtnText:{
                    type:String
                },
                publishBtnText:{
                    type:String
                },
                formError:{
                    type:Boolean,
                    value:false
                },
                locationsMemcacheURL:{
                    type:String
                }
            },
            ready: function() {
                this.currentStep = 0;
                this.config = generalConfig() || {};
                this.schemeObj.metadata.published = false;
                this.saveBtnText = "SAVE";
                this.publishBtnText = "SAVE + PUBLISH";
                this.formError = false;
                this.locationsMemcacheURL = this.config.urls.memcache.locations;
            },
            listeners: {
                'coupon-form.iron-form-submit': 'createScheme',
                'coupon-form.saveBtn.onClick': 'submitForm',
                'value-change':'getCurrentStep',
                'coupon-form.iron-input-validate':'enableButtons',
                'coupon-form.iron-form-invalid':'resetSteps'
            },
            observers: [
                'schemeMethodChanged(schemeMethod)',
                'schemeObjChanged(schemeObj)'
            ],
            enableButtons:function(event){
                if(event){
                    this.formError = event.target.invalid;
                }
            },
            schemeObjChanged:function(schemeObj){
                if(document.getElementById("coupon-form")){
                    chUtils.disableInputs(schemeObj.metadata.published,"coupon-form")
                }
            },
            getCurrentPage : function(){
               return location;
            },
            schemeMethodChanged:function(schemeMethod){
                if(schemeMethod=="PUT"){
                    this.saveBtnText = "UPDATE";
                    this.publishBtnText = "UPDATE + PUBlISH";
                }else{
                    this.saveBtnText = "SAVE";
                    this.publishBtnText = "SAVE + PUBlISH";
                }
            },
            //neon animations for coupon
            _onPrevClick: function() {
                if(this.formError===true){
                    this.currentStep = this.currentStep;
                }else{
                    this.entryAnimation = 'slide-from-left-animation';
                    this.exitAnimation = 'slide-right-animation';
                    this.currentStep = this.currentStep === 0 ? 4 : (this.currentStep - 1);
                }
            },
            _onNextClick: function(event) {
               if(this.formError===true){
                    this.currentStep = this.currentStep;
                }else{
                    this.entryAnimation = 'slide-from-right-animation';
                    this.exitAnimation = 'slide-left-animation';
                    this.currentStep = this.currentStep === 4 ? 0 : (this.currentStep + 1);
                }
            },
            createScheme: function() {
                this.formData = document.getElementById('coupon-form').serialize();
                this.schemeObj.metadata.type = "COUPON";
                if(chUtils.isEmpty(this.schemeObj.behavior.startDate)===false){
                    this.schemeObj.behavior.startDate = chUtils.toIsoString(this.schemeObj.behavior.startDate);
                }else if(chUtils.isEmpty(this.schemeObj.behavior.endDate)===false){
                    this.schemeObj.behavior.endDate = chUtils.toIsoString(this.schemeObj.behavior.endDate);
                }
                this.schemeObj.on = "scheme";


                if(chUtils.isEmpty(this.schemeObj.behavior.serviceRateCategoryDiscounts)===false){
                    chUtils.pluckObjByName(this.schemeObj.behavior.serviceRateCategoryDiscounts,"_services",false);
                }
                if(chUtils.isEmpty(this.schemeObj.behavior.locationOfServices)===false){
                    this.schemeObj.behavior._locations = _.pluck(this.schemeObj.behavior.locationOfServices,"name");
                }
                if(chUtils.isEmpty(this.schemeObj.metadata.toIds)===false){
                   this.schemeObj.metadata.toIds = _.pluck(this.schemeObj.metadata.toIds,"name");
                }

                console.log(this.schemeObj);
                
                if (this.schemeObj !== undefined) {
                    this.$.couponAjax.url= this.config.urls.rest;
                    this.$.couponAjax.method = this.schemeMethod;
                    this.$.couponAjax.body = JSON.stringify(this.schemeObj);
                    this.$.couponAjax.generateRequest();
                }
            },
            handleResponse: function(event) {
                if (event.detail.response != null && event.detail.response !== undefined) {
                    document.querySelector("#schemeSuccErrMessageToast").show();
                    console.log("Received response: " + JSON.stringify(event.detail.response));
                    var toast = document.querySelector("#schemeSuccErrMessageToast");
                    if(this.schemeMethod=="POST"){
                        toast.text = this.schemeObj.metadata.type + " created successfully!...";
                    }else{
                        toast.text = this.schemeObj.metadata.type + " updated successfully!...";
                    }
                    toast.show();
                } else {
                    console.log(this.schemeObj);
                    document.querySelector("#schemeSuccErrMessageToast").show();
                    var toast = document.querySelector("#schemeSuccErrMessageToast");
                    if(this.schemeMethod=="POST"){
                        toast.text = "Error while creating" + this.schemeObj.metadata.type;
                    }else{
                         toast.text = "Error while updating" + this.schemeObj.metadata.type;
                    }
                }
                setTimeout(function() {
                    location.href="/";
                }, 1000);
            },
            handleError: function(event) {
                var request = event.detail.request;
                var error = event.detail.error;
                console.log(error);
                var toast = document.querySelector("#schemeSuccErrMessageToast");
                if(this.schemeMethod=="POST"){
                    toast.text = "Error while creating " + this.schemeObj.metadata.type+" Please try again";
                }else{
                    toast.text = "Error while updating " + this.schemeObj.metadata.type+" Please try again";
                }
                toast.show();
            },
            submitForm: function(event) {
                this.schemeObj.metadata.published = event.currentTarget.getAttribute('status');
                document.getElementById('coupon-form').submit();
                
            },
            resetSteps:function(event){
                this.currentStep = 0; 
                this.formError = true; 
                document.querySelector("#schemeSuccErrMessageToast").show();
                var toast = document.querySelector("#schemeSuccErrMessageToast");
                toast.text = "Please Recheck the form, you have missed the required fields some where...!";
                   
            }
        });
    </script>
</dom-module>