<dom-module id="chpe-coupon">
    <style type="text/css">
        .submitButtons {
            text-align: right;
        }
        
        .submitButtons span {
            display: inline-block;
        }
        .arrows{
            background: none;
        }
    </style>
    <template>
        <paper-material elevation="1" type="{{schemeType}}">
            <h4 class="paper-font-display2" type="{{schemeType}}">Create Scheme <span>{{schemeType}}</span></h4>
            <form is="iron-form" id="coupon-form" method="POST" action="#">
                <neon-animated-pages id="pages" class="flex" selected="[[selected]]" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
                    <neon-animatable>

                        <basic-scheme start-date-modal="couponStartDate" end-date-modal="couponEndDate" scheme-starts="couponStart" scheme-ends="couponEnds" start-date-type "csd" end-date-type="ced" sd-dp="stcDp" sd-tp="stcTp" ed-dp="eDcDp" ed-tp="eDcTp">
                        </basic-scheme>

                        <div align="center" class="arrows">
                            <paper-icon-button icon="arrow-forward" on-click="_onNextClick">
                            </paper-icon-button>
                        </div>
                    </neon-animatable>
                    <neon-animatable>
                        <div align="center" class="arrows">
                            <paper-icon-button icon="arrow-back" on-click="_onPrevClick"></paper-icon-button>
                        </div>
                        <div class="submitButtons">
                            <span>
                        <paper-button name="coupon-form.createSchemeBtn" raised  on-click="submitForm" data-args="false" id="saveBtn"  value="{{schemeStatus}}">Save</paper-input>
                        </span>
                            <span>
                        <paper-button name="coupon-form.createSchemeBtn" data-args="true" on-click="submitForm" id="publishBtn" status="true" raised value="{{schemeStatus}}">Save + Publish</paper-input>
                    </span>
                        </div>
                    </neon-animatable>
                </neon-animated-pages>

            </form>
        </paper-material>
        <iron-ajax id="couponAjax" content-type="application/json" method="POST" params='{}' handle-as="json" on-error="handleError" on-response="handleResponse"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'chpe-coupon',
            properties: {
                schemeType: String,
                schemeStatus: Boolean,
                succErrMsg: String
            },
            attached: function() {
                console.log(this.schemeType);
            },
            ready: function() {
                console.log(stateVariables);
                this.metadata = metadata;
                this.behaviour = behaviour;
                this.scheme = this.scheme = {
                    "metadata": metadata,
                    "behaviour": behaviour
                } || editSchemeObj;
                this.selected = 0;
            },
            listeners: {
                'coupon-form.iron-form-submit': 'createScheme',
                'coupon-form.saveBtn.onClick': 'submitForm',
            },

            //neon animations for coupon
            _onPrevClick: function() {
                this.entryAnimation = 'slide-from-left-animation';
                this.exitAnimation = 'slide-right-animation';
                this.selected = this.selected === 0 ? 4 : (this.selected - 1);
            },
            _onNextClick: function() {
                this.entryAnimation = 'slide-from-right-animation';
                this.exitAnimation = 'slide-left-animation';
                this.selected = this.selected === 4 ? 0 : (this.selected + 1);
            },
            createScheme: function() {
                this.formData = document.getElementById('coupon-form').serialize();

                this.scheme.behaviour.startDate = chUtils.toIsoString(this.formData.startDate);
                this.scheme.behaviour.endDate = chUtils.toIsoString(this.formData.endDate);

                this.metadata.type = this.schemeType;
                this.metadata.published = this.schemeStatus || this.metadata.published;
                this.scheme.on = "newscheme";
                this.scheme.operation = "create";
                console.log(this.scheme);
                if (this.scheme !== undefined) {
                    this.$.couponAjax.url = restApiUrls.scheme.basic;
                    this.$.couponAjax.method = "POST";
                    this.$.couponAjax.body = JSON.stringify(this.scheme);
                    this.$.couponAjax.generateRequest();
                }
            },
            handleResponse: function(event) {
                console.log(event.detail.response);
                document.querySelector("#schemeSuccErrMessageToast").show();
                console.log("Received response: " + JSON.stringify(response.detail.response));
                setTimeout(function() {

                }, 3000);
            },
            handleError: function(event) {
                var request = event.detail.request;
                console.log(event);
                var error = event.detail.error;
                var toast = document.querySelector("#schemeSuccErrMessageToast");
                toast.text = "Error while creating " + this.scheme.metadata.type + " Please try again.. ";
                toast.show();
            },
            submitForm: function(evt, details, sender) {
                document.getElementById('coupon-form').submit();
            }
        });
    </script>
</dom-module>