<script src="../../config/general.js"></script>
<script src="../../config/schemeBase.js"></script>
<dom-module id="cumulative-bill-amounts">
    <style type="text/css">
        .searchBoxInSrc{
            width: 100%;
        }
        .searchBoxInSrc paper-input{
            margin-left: 20px;
        }
        
        .row{
            width: 100%;
            margin-top: 10px;
        }
        .discountBox.chpe-discount{
            width: 320px !important;
        }
         paper-input {
            margin-top: 0px !important;
            margin-left: 10px;
        }
        .capRowSection{
            border-bottom: 1px solid #ccc;
        }
        .singleRow{
            margin-bottom: 20px;
        }
    </style>
    <template id="capBox">
        <div class="col-12 capRowSection margin0">
          <h4 class="col-12 margin0">Points on Cumulative Bill Amounts
            <paper-icon-button icon="icons:add" on-click="addcap"></paper-icon-button>
          </h4>
          <template is="dom-repeat" items="{{behavior.cumulativeAmountPoints}}" as="cap">
            <div class="col-12 singleRow">
                <div class="col-5">
                       <paper-input name="amount" no-label-float label="Amount" 
                       value="{{cap.amount}}"></paper-input>
                </div>
                 <div class="col-5">
                        <paper-input name="points" no-label-float label="Points" 
                       value="{{cap.points}}"></paper-input>
                </div>
                <div class="col-2">
                    <paper-fab mini icon="icons:delete" class="red" on-click="deletecap">
                    </paper-fab>
                </div>
            </div>      
          </template> 
        </div>
    </template>
    <script>
        Polymer({
            'is':'cumulative-bill-amounts',
             properties:{
                "foodArray":{
                    type:Array,
                    notify:true
                }
            },
            ready:function(){
                   // console.log(this.behavior.serviceRateCategoryDiscounts);
            },
            listeners:{
                "onClick":"addcap",
            },
            //add or remove src categories
            addcap :function(e){
                this.push('behavior.cumulativeAmountPoints', {amount:"", points: ""});
            },
            deletecap:function(e){
                if(e.model.index!=0){
                    this.splice('behavior.cumulativeAmountPoints',e.model.index,1);
                }
            }
        });
    </script>
</dom-module>