<script src="../../../lib/chUtils.js"></script>
<script src="../../config/general.js"></script>
<!--<script type="text/javascript"
  src="https://www.google.com/jsapi?autoload={
    'modules':[{
      'name':'visualization',
      'version':'1',
      'packages':['corechart']
    }]
  }">
</script>-->
<dom-module id="preview-scheme">
	<style type="text/css">
		:host{
			display: block;
		}
		.simple-extend-card{
            margin: 0px auto;
            max-width: 760px;
            @apply(--layout-vertical);
            @apply(--center-justified);
        }
        .previewScheme{
        	min-height: 200px;
        	display: block;
        	width: 92%;
        	background:#f0f0f0;
        	padding:10px 20px;

        }
        .cards{
            @apply(--layout-vertical);
            @apply(--center-justified);
            font-size: 14px;
            max-width: 320px;
            margin: 10px;
        }
        .cards .card-content{
        	padding: 0px;
        }
        .container {
	      @apply(--layout-horizontal);
	      @apply(--layout-wrap);
    	}
    	.flexchild1 {
	      @apply(--layout-flex-1);
	    }
	    .flex2child {
	      @apply(--layout-flex-2);
	    }
	    .flex4child {
	      @apply(--layout-flex-4);
	    }
	    .row{
	    	padding: 0px 10px;
	    	border-bottom: 1px solid #ccc;
	    }
	    .section{
	    	padding: 10px 0px 10px 0px;
	    	border-bottom: 1px solid #ccc;
	    }
	    .section h1{
	    	font-size: 20px;
	    	font-weight: 400;
	    	text-align: center;
	    	padding: 0px;
	    	margin: 0px;
	    }
	    .info{
	    	font-size:20px;
	    	text-align: center;
	    	font-weight: 500;
	    	padding: 0px;
	    	margin: 0px;
	    }
	    .descr-sec{
	    	border-bottom: 1px solid #ccc;
	    }
	    .descr-sec:last-child{
	    	/*border-right: 1px solid #ccc;*/
	    }
	    .descr-sec h3{
	    	font-size: 18px;
	    	font-weight: 300;
	    	margin: 0px;
	    	padding: 10px 0px 0px 23px;
	    }
	   
	    .descr-sec ul li{
	    	line-height: 16px;
	    	padding: 5px 0px;
	    	list-style-type: square;
	    }
	    .fullDescription{
	    	padding: 10px 20px;
	    	margin: 0px;
	    	border-bottom: 1px solid #ccc;
	    }
	    .fullDescription p{
	    	text-align: justify;
	    }
	    .graphContainer{
	    	padding: 10px 20px;
	    	margin: 0px 0px 10px 0px;
	    }
	    .subText{
	    	font-size: 12px;
	    	font-weight: normal !important;
	    }
	    .graphIcon{
	    	width: 15px;
	    	height: 15px;
	    	float: left;
	    	margin-right: 5px;
	    }
	    .green{
	    	background: lightgreen;
	    }
	    .red{
	    	background: red;
	    }
	    .graphContainer img{
	      width: 100%;
	      height: 250px;
	      float: left;
	    }
	    .color-green{
	    	color: #81c784;
	    }
	    .color-blue{
	    	color: #3F51B5;
	    }
	    .color-pink{
	     	color: #e91e63;
	    }
	    .color-light-blue{
	    	color: #64B5F6;
	    }
	    .color-yellow{
	    	color:#ffb74d;
	    }
	    .boldText{
	    	font-weight: bold;
	    	padding-right: 5px;
	    }
	    .badge{
	    	/*background: #303f9f;*/
		    padding: 10px;
		    color: white;
		    border:4px solid navy;
		    border-radius: 50%;
		    width: 30px;
		    height: 30px;
		    margin: 0px auto;
	    }
	    .red {
	      --paper-badge-background: var(--paper-red-300);
	    }
	    .orange {
	      --paper-badge-background: var(--paper-amber-300);
	    }
	    .green {
	      --paper-badge-background: var(--paper-green-300);
	    }
	</style>
	<template>
		<more-route context name="previewScheme" params="{{params}}"></more-route>
			<!-- <template  item="{{previewData}}">
				<paper-card elevation="3" heading="{{item.metadata.type}}"  class="cards">
					<div class="card-content">
						<span>{{item.metadata.name}}</span>
					</div>
				</paper-card>
			</template> -->
			<paper-material elevation="0" class="previewScheme">
				<div class="container">
					<div class="flexchild1"></div>
				    <div class="flex2child section">
						<h1 class="color-light-blue">Locations</h1>
				    	<div class="badge" align="center">
				    	<p class="info">{{orderData.orderLocations}}</p>
				    	</div>				    		
				    </div>
				    <div class="flex2child section">
				    	<h1 class="color-blue">Clients</h1>
				    	<div class="badge" align="center">
					    	<p class="info">{{orderData.uniqueUsers}}</p>
				    	</div>
				    </div>
				    <!-- <div class="flex2child section">
						<h1 class="color-pink">Cities</h1>
				    	<div class="badge" align="center">
				    	<p class="info">{{orderData.clients}}</p>
				    	</div>	
				    </div> -->
				     <div class="flex2child section">
						<h1 class="color-green">Revenue</h1>
				     	<div class="badge" align="center">
				    	<p class="info">{{roundPrice(orderData.totalAmount)}}<sub class="subText"></sub></p>
				    	</div>
				    </div>
				    <div class="flex2child section">
						<h1 class="color-yellow">Discounts</h1>
				    	<div class="badge" align="center">
				    	<p class="info">{{roundPrice(orderData.discountAmount)}}<sub class="subText"></sub></p>
				    	</div>
				    </div>
				    <div class="flexchild1"></div>
				</div>
				<div class="container description">
					<div class="flex4child descr-sec">
						<paper-card  elevation="0" class="cards">
						<div class="card-content">
							<h3>General Behavior</h3>
							<ul>
								<li><span class="boldText">Starts at:</span><span>{{formatDate(previewData.behavior.startDate)}}</span></li>
								<li><span class="boldText">Ends at:</span><span>{{formatDate(previewData.behavior.endDate)}}</span></li>
								<li><span class="boldText">Available in:</span><span>{{splitArrtoString(previewData.behavior.locationOfServices)}}</span></li>
								<li><span class="boldText">Default discount:</span><span>{{previewData.behavior.discount}}</span><span>{{previewData.behavior.discountType}}</span></li>
								<li><span class="boldText">Maximum Usages:</span><span>{{previewData.behavior.maximumUsages}}</span>
								</li>
							</ul>
						</div>
						</paper-card>
						
					</div>
					<div class="flex4child descr-sec" >
						<paper-card elevation="0" class="cards">
							<div class="card-content">
								<h3>Combinational Discounts</h3>
								<ul>
									<li><span class="text-bold">Service Rate Category Discounts</span>
										<!-- <template  is="dom-if" if="{{previewData.behavior.serviceRateCategoryDiscounts.services.length=0}}">
											<span>None for this criteria</span>
										</template>
										<template is="dom-if" if="{{previewData.behavior.serviceRateCategoryDiscounts.services.length!=0}}"> -->
											<ul>
												<template is="dom-repeat" items="{{previewData.behavior.serviceRateCategoryDiscounts}}">
													<li><span>{{item.discount}}</span>&nbsp;<span>{{item.discountType}}</span> for <span>{{splitArrtoString(item.services)}}</span></li>
												</template>
											</ul>
										<!-- </template> -->
									</li>	
									<li><span class="text-bold">Service Combination Discounts</span>
										<ul>
											<template is="dom-repeat" items="{{previewData.behavior.serviceLevelDiscounts}}">
												<li><span>{{item.discount}}</span>&nbsp;
													<span>{{item.discountType}}</span> 
													for <span>{{splitArrtoString(item.services)}}</span></li>
											</template>
										</ul>
									</li>
									<li><span class="text-bold">Doctor Usage Discounts</span>
										<ul>
											<template is="dom-repeat" items="{{previewData.behavior.doctorLevelDiscounts}}">
												<li><span>{{item.discount}}</span>&nbsp;
													<span>{{item.discountType}}</span> 
													for <span class="upperCase">{{item.type}}</span> Chosen</li>
											</template>
										</ul>
									</li>
								</ul>
							</div>
						</paper-card>
					</div>
					<div class="flex4child descr-sec" >
						<paper-card elevation="0" class="cards">
							<div class="card-content">
								<h3>Combinational Discounts</h3>
								<ul>
									<li>
										<span class="text-bold">Bill Slab Behaviour</span>
										<!-- <template  is="dom-if" if="{{previewData.behavior.serviceRateCategoryDiscounts.services.length=0}}">
											<span>None for this criteria</span>
										</template>
										<template is="dom-if" if="{{previewData.behavior.serviceRateCategoryDiscounts.services.length!=0}}"> -->
											<ul>
												<template is="dom-repeat" 
												items="{{previewData.behavior.billValueDiscounts}}">
													<li>
													<span>{{item.discount}}</span>
													<span>{{item.discountType}}</span> 
													 between <span>{{item.billRange.from}}</span> - 
													 <span>{{item.billRange.to}}</span> 
													</li>
												</template>
											</ul>
										<!-- </template> -->
									</li>	
									<li><span class="text-bold">Mode of Payment Discounts</span>
										<ul>
											<template is="dom-repeat" items="{{previewData.behavior.modeOfPaymentDiscounts}}">
												<li><span>{{item.discount}}</span>
													<span>{{item.discountType}}</span> If 
													<span>{{item.mop}}</span>
											 	</li>
											</template>
										</ul>
									</li>
									<li><span class="text-bold">Points Accumulation Behaviour</span>
										<ul>
											<template is="dom-repeat" items="{{previewData.behavior.cumulativeAmountPoints}}">
												<li><span>{{item.points}}</span> Points gets credited when account reaches ₹ <span>{{item.amount}}</span> in total value.</li>
											</template>
										</ul>
									</li>
								</ul>
							</div>
						</paper-card>
					</div>
				</div>
				<!-- <div class="container description">
					<div class="fullDescription">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
				</div> -->
				<div class="graphContainer container">
					<div class="col-5">
					<div class="col-6 discRevenues" style="margin-bottom:10px;">
						<h3 class="margin0 padding0">Discounts & Revenues</h3>
					</div>
					<!-- <div class="col-3 discRevenues">
						<span class="graphIcon red"></span>						
						<span>Revenues</span>
					</div>
					<div class="col-3 discRevenues">
						<span class="graphIcon green"></span>
						<span>Discounts</span>
					</div> -->
					<paper-card elevation="2">
					<img src="https://chart.googleapis.com/chart?cht=lc&chs=440x250&chd=t:10,15,5,0,20,50,60,45,80,90,70,68|20,25,30,40,25,65,40,10,20,30,25,40&chco=FF0000,00FF00&chdl=Revenues|Discounts&chxt=x,y"/>
						<!-- <img src="https://chart.googleapis.com/chart?cht=lc&chs=440x250&
						chxt=x,y&chxl=0:|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|1:|0|10|20|30|40|50|60|70|80|90|120&chy:10,20,20,65,80,70,40,90,110,20|45&chd=t:10,20,40,15,80,60,80,90,85,45,33,65"/> -->
					</paper-card>
					</div>
					<div class="col-1"></div>
					<div class="col-6">
					<div class="col-6 discRevenues" style="margin-bottom:10px;">
						<h3 class="margin0 padding0">Unique Customers</h3>
					</div>
					<!-- <div class="col-3 discRevenues">
						<span class="graphIcon red"></span>						
						<span>Customers</span>
					</div>
					<div class="col-3 discRevenues">
						<span class="graphIcon green"></span>
						<span>Discounts</span>
					</div> -->
					<paper-card elevation="2">
						<img src="https://chart.googleapis.com/chart?cht=lc&chs=440x250&chd=t:0,0,50,0,10,0,0,0,500,0,500,10&chco=FF0000&chxt=x,y&chdl=Customers"/>
					</paper-card>
					</div>

				</div>
			</paper-material>
		<iron-ajax  id="previewSchemeAjax" content-type="application/json"   method="GET"  
         handle-as="json" on-error="handleError" on-response="handleResponse"  debounce-duration="300"></iron-ajax>
	</template>
	<script>
		Polymer({
			is:'preview-scheme',
			ready:function(){
				this.config = generalConfig() || {};
				app.previewSchemeName = "";
			},
			properties:{
				previewData:{
					type:Object,
					notify:true
				},
				schemeName:{
					type:String,
					notify:true,
					value:""
				},
				orderData:{
					type:Object,
					notify:true
				}
			},
			observers:[ 
				'previewSchemeChanged(params.schemeName)'
			],
			previewSchemeChanged:function(schemeName){
				if(schemeName!==undefined && schemeName.length>0){
					app.isPreviewScheme = true;
					app.isHome = false;
					this.config = generalConfig();
					app.previewSchemeName = 'Preview Scheme - '+schemeName;
                //this.$.previewSchemeAjax.url 	 =  this.config.urls.preview+'name='+schemeName; 
                this.$.previewSchemeAjax.url 	 =  this.config.urls.preview+'name=MYAddon'; 
                this.$.previewSchemeAjax.headers = {'API_KEY':this.config.urls.API_KEY};
                this.$.previewSchemeAjax.generateRequest();
				}
			},
			handleResponse:function(event){
				if(chUtils.isEmpty(event.detail.response)===false){
					this.previewData = event.detail.response.schemeDetails[0];
					this.orderData = event.detail.response.orderDetails;
				}
			},
			handleError:function(event){
				console.log(event);
				//this.$.discountRevenueChart.drawChart();
			},
			splitArrtoString:function(data){
				if(data!==undefined){
					var arr = _.pluck(data,"name");
					return arr;
				}else{
					return "No Data";
				}
			},
			formatDate:function(startEndDate){
				if(startEndDate!==undefined || startEndDate!=""){
					return startEndDate.split("T")[0];
				}else{
					return "No Data";
				}
			},
			roundPrice:function(price){
				if(chUtils.isEmpty(price)===false){
					return Math.round(parseFloat(price/1000))+'K';
				}else{
					return 0;
				}	
			}

		});
	</script>
</dom-module>