<script Slc="../../config/general.js"></script>
<script Slc="../../config/schemeBase.js"></script>
<dom-module id="service-level-discounts">
    <style type="text/css">
        .searchBoxInSlc{
            width: 100%;
        }
        .searchBoxInSlc paper-input{
            margin-left: 20px;
        }
        
        .row{
            width: 100%;
            margin-top: 10px;
        }
        .discountBox.chpe-discount{
            width: 320px !important;
        }
         paper-input {
            margin-top: 0px !important;
            margin-left: 10px;
        }
        .singleRow{
            margin: 0px;
        }
    </style>
    <template>
        <div  class="col-12 slcRowSection margin0">
        <h4 class="col-12 margin0">Service Level  Discounts
            <paper-icon-button icon="icons:add" on-click="addSlc"></paper-icon-button>
        </h4>
          <template is="dom-repeat" items="{{behavior.serviceLevelDiscounts}}" as="slc">
            <div class="col-12 singleRow">
                <div class="col-6">
                        <multi-value-suggestbox id="multi_suggest" newInput="" url="/api/proxy?url=http://52.76.37.144:8080/javaapi/rest/serviceLevelDiscounts/"
                                    options='{
                                        "allow_space": false,
                                        "allow_nonmatching": false
                                    }' selected-items="{{slc.services}}">
                            </multi-value-suggestbox>
                </div>
                <div class="col-4">
                    <chpe-discount id="slcDiscount" discount-modal="{{slc}}" 
                     percentage-id="{{getPercentId(index)}}" flat-id="{{getFlatId(index)}}">
                    </chpe-discount>
                </div>
                <div class="col-2">
                  <span>
                    <paper-fab mini icon="icons:delete" class="red action" on-click="deleteSlc">
                    </paper-fab>
                  </span>
                </div
            </div>      
          </template> 
        </div>

    </template>
    <script>
        Polymer({
            'is':'service-level-discounts',
             properties:{
                "foodArray":{
                    type:Array,
                    notify:true
                }
            },
            ready:function(){
                // console.log(this.behavior.serviceLevelDiscounts);
            },
            getPercentId:function(index){
                return "slcPercentage_"+index;
            },
            getFlatId:function(index){
                return "slcFlat_"+index;
            },
            listeners:{
                "onClick":"addSlc",
            },
            //add or remove Slc categories
            addSlc :function(e){
                this.push('behavior.serviceLevelDiscounts', {discount:0,discountType:"%",maxLength:9,services:[]});
            },
            deleteSlc:function(e){
                if(e.model.index!=0){
                    this.splice('behavior.serviceLevelDiscounts',e.model.index,1);
                }
            }
        });
    </script>
</dom-module>