
<dom-module id="service-rate-category">
    <style type="text/css"></style>

    <template>
        <template is="dom-repeat" items="{{behavior.serviceRateCategoryDiscounts}}">
            <paper-input name="serviceRateCategoryDiscounts" multi value="{{item.srcTypes}}"  no-label-float  label="Search">
            </paper-input>
        </template>
    </template>
        <iron-ajax  id="srcAjax" content-type="application/json"  method="POST" params='{}'   
         handle-as="json" on-error="handleError" on-response="handleResponse" ></iron-ajax>
    <script>

        Polymer({
            is: 'service-rate-category',
            properties: {
                behavior:Object
            },
            ready:function(){
                this.behavior = behavior;
            },
            listeners:{
                
            },
            handleResponse:function(event){
                console.log(event.detail.response);
                
            },
            handleError:function(event){
                var request=event.detail.request;
                console.log(event.detail.response);
            },
            addRows:function(){

            }
        });
       
        
    </script>
</dom-module>