
<dom-module id="service-rate-category">
    <style type="text/css">
        .searchBoxInSrc{
            width: 100%;
        }
        .searchBoxInSrc paper-input{
            margin-left: 20px;
        }
        .search{
          width: calc(100% - 340);
        }
    </style>

    <template>
        <template is="dom-repeat" items="{{behaviour.serviceRateCategoryDiscounts}}">
            <paper-card elevation="1" class="searchBoxInSrc" heading="Service Rate Categories">
                    <paper-input name="serviceRateCategoryDiscounts" multi value="{{item.srcTypes}}"  no-label-float  label="Search">
                    </paper-input>
                 <chpe-discount  discount-id="srcDiscount" percentage-id="srcPercentage" flat-id="srcFlat"
                discount="{{item.discount}}">
                </chpe-discount>
            </paper-card>
        </template>
    </template>
        <iron-ajax  id="srcAjax" content-type="application/json"  method="POST" params='{}'   
         handle-as="json" on-error="handleError" on-response="handleResponse" ></iron-ajax>
    <script>

        Polymer({
            is: 'service-rate-category',
            properties: {
                behaviour:Object
            },
            ready:function(){
                this.behaviour = behaviour;
            },
            listeners:{
                
            },
            handleResponse:function(event){
                console.log(event.detail.response);
                
            },
            handleError:function(event){
                var request=event.detail.request;
                console.log(event.detail.response);
            },
            addRows:function(){

            }
        });
       
        
    </script>
</dom-module>